.PagesContainer {
    background-color: transparent;
    padding: 2%;
    padding-left: 15%;
    width: 80%;
    margin: 5%;
    font-family: SegoeUI, Segoe UI;
    text-align: center;
}

.PagesContainer h3 {
    width: 100%;
    font-size: 40px;
    font-family: SegoeUI-Semibold, Segoe UI;
    font-weight: 600;
}

.PagesContainer h5 {
    width: 100%;
    font-size: 3.5vw;
    font-family: SegoeUI-Semibold, Segoe UI;
    font-weight: 600;
}

.PagesContainer img {
    width: 5%;
    height: 5%;
    padding-top: 0px;
    padding-bottom: 20px;
}

.Pages {
    padding: 10px;
    width:100%;
    text-align: center;
}

.Page {
    /* padding: 10px; */
    /* margin: 25px; */
    /* border-radius: 25px; */
    /* display: inline-block; */
    height: 100%;
    width: 100%;
}

/*what you added*/
input{
    margin-left: 10px;
}

.inputField {
    border: none;
    border-bottom: 4px solid black;
    font-size: 3vw;
    text-align: center;
}

.inputField:focus{
    outline:none;
}

.closeBtn{
    cursor: pointer;
}

.viewBookBtn{
    border-radius: 4px;
    font-size: 1.5vw;
    text-align: center;
    border:none;
    background-color: #275d64;
    color: white;
    padding: 1%;
}

.pagesTitle{
    padding-top: 5%;
}


