form {
    background-color: #fcf3d7;
    padding: 10px;
    width: 25%;
    margin: 3%;
  }
  
  h1 {
    text-align: center;
  }
  
  input {
    width: 60%;
    margin-left: 10px;
  }
  
  label {
    margin-left: 10px;
  }
  