.SignupContainer {
    background-color: white;
  padding-top: 40px;
  padding-left: 80px;
  padding-bottom: 40px;
  padding-right: 80px;
  width: 50%;
  font-family: SegoeUI, Segoe UI;
  text-align: center; 
  margin: auto;
}


.SignupForm h3 {
    width: 100%;
    font-size: 45px;
    font-family: SegoeUI-Semibold, Segoe UI;
    font-weight: 600;
    margin: 0;
}

.SignupForm p {
    color: #7A8888;
}

.SignupForm a {
    color: #00C4CC;
}


.SignupGoogleButton {
    background-color: transparent;
    margin-bottom: 3%;
    color: #7A8888;
    cursor: pointer;
}

.SignupGoogleButton span,
.SignupEmailButton span {
    vertical-align: middle;
    font-size: 20px;
}

.GoogleSignupLogo {
    float: left;
}

.SignupEmailButton {
    background-color: #00C4CC;
    color: white;
    cursor: pointer;
}

.signupName {
    transform: translate(-1.5%, 0%);
    margin-top: 3%;
}

.signupEmail{
    transform: translate(-1.5%, 0%);
}

.signupPassword{
    transform: translate(-1.5%, 0%);
}

.SignupForm button {
    width: 100%;
    height: 45px;
    background-repeat:no-repeat;
    border: 0.5px solid rgba(14,19,24,.2);
    border-radius: 4px;
}

.SignupFormButton {
    background-color: #00C4CC;
    vertical-align: middle;
    font-size: 20px;
    color: white;
}

.SignupForm input {
    width: 100%;
    height: 45px;
    background-color: transparent;
    border: 0.5px solid rgba(14,19,24,.2);
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 20px;
    text-indent: 15px;
}


.Signupcls1 {
    opacity: 0.56;
}

.Signupcls2 {
    fill: none;
    stroke: #707070;
}

.Signupcls3 {
    fill: #fff;
}

.Signupcls4 {
    fill: #7a8888;
    font-size: 9px;
    font-family: SegoeUI, Segoe UI;
}


