
  
  html{
    scroll-behavior: smooth;
  }
  
  
  /*SECTIONS*/
  /*Welcome Banner*/
  /*fade affect*/
  .welcomeBanner{
    background-color: #F9FFFF;
    padding: 300px;
    transition: all 1s ease-out;
    text-align: center;
  }
  .welcomeBanner:hover{
    background-color: #070B0C;
    color: white;
  }
  
  /* Prevew Section classes */
  .storyPreviewSection{
    padding: 5%;
    background-color: #070B0C;
    color: #F9FFFF;
    overflow: hidden;
    text-align: center;
  }

  .previewGif{
    height: 30%;
    width: 30%;
    float: left;
    padding-right: 5%;
  }
  
  .discription{
    overflow: hidden;
    transform: translate(0%, 100%);
  }

  

  .createNowBtn{
    border-radius: 8px;
    font-size: 15px;
    padding: 10px;
    margin-top: 1%;
    background-color:white;
    color:black;
  }
  
  
  /*Features Section*/
  .featuresSection{
    padding: 10%;
    background-color: #F9FFFF;
    text-align: center;
    
  }
  
  .FAQSection{
    padding: 100px;
    background-color: #070B0C;
    color: #F9FFFF
  }
  
  .aboutUsSection{
    background-color: white;
    padding: 10%;
    color: #070B0C;
  }

  .content p{
    font-size: 1.5vw;
  }

  .content{
    width: 50%;
    float: right;
  }

  

  
  /*image and text position on homepage*/
  .imageLeft{
    float: left;
  }
  
  .imageRight{
    float: right;
  }
  
  
  .qAndAs{
    text-align: left;
  }


  .checkIcon {
    height: 5%;
    width: 5%;
    float: left;
    margin-right: 2%;
  }

  .benefits {
    display: inline-block;
    text-align: left;
    margin-top: 2%;
    width: 45%;
  }

  .logoblack {
    height: 40%;
    width: 40%;
  }


